@font-face {
	font-family: trajan;
	src: url(/font/trajan.otf);
}
* {
	box-sizing: border-box;
	font-family: trajan, serif;
}
body {
	background-color: #000;
	color: #fff;
}
header {
	text-align: center;
}
.header {
	font-size: 54px;
	color: #f00;
	display: inline-block;
	margin: 0 auto;
}
.center {
	text-align: center;
	margin: 0 auto;
}
#gameWrapper {
	margin: 2em auto;
	float: left;
	width: 900px;
	height: 500px;
}
#gameWrapper .cont {
	width: 150px;
	height: 150px;
	border-radius: 310px;
	float: left;
	overflow: hidden;
	margin: 1em;
}
#gameWrapper:hover {
	cursor: url(/img/wine.png), grab auto;
}
#gameWrapper #box0 {
	position: relative;
	top: 1em;
}
#gameWrapper #box1 {
	position: relative;
	top: 2em;
	left: 2em;
}
#gameWrapper #box2 {
	position: relative;
	top: 4em;
	left: 1em;
}
#gameWrapper #box3 {
	position: relative;
	top: 3em;
	left: 3em;
}
#gameWrapper #box4 {
	position: relative;
	top: 3em;
	left: 4em;
}
#gameWrapper #box5 {
	position: relative;
	top: 5em;
	left: 8em;
}
#gameWrapper #box6 {
	position: relative;
	top: 4em;
	left: 8em;
}
#gameWrapper #box7 {
	position: relative;
	top: 1em;
	left: 10em;
}
#gameWrapper #box8 {
	position: relative; 
	top: 1em;
	left: 10em;
}
#sidebar {
	float: right;
	border-left: 1px solid #f00;
	margin-top: 2em;
	margin-right: 20%;
}
#sidebar ul {
	list-style-type: none;
}
#sidebar ul li {
	font-size: 22px;
	color: #f00;
}
#playGame{
	width: 500px;
	height: 200px;
	background-color: #f00;
	position: absolute;
	top: 200px;
	left: 200px;
	border-radius: 5em;
	opacity: .3;
}
.playText {
	position: relative;
	left: 3em;
	font-size: 32px;
	color: #000;
	opacity: 1;
	display: inline-block;
}
.playText:hover {
	cursor: pointer;
}
.kill {
	position: relative;
	bottom: -200px;
}
.kill img {
	width: 200px;
	height: 150px;
	border-radius: 310px;
}